.bottom-bar {
    background-color: @headerbar_bg_color;
}

.my-frame {
    border: 1px solid @borders;
    border-radius: 10px;
}

.my-small-frame {
    border: 1px solid @borders;
    border-radius: 5px;
}

.my-pill-left {
    border-bottom-left-radius: 22px;
    border-top-left-radius: 22px;
    padding-right: 0px;
    padding-left: 24px;
}

.my-pill-right {
    border-bottom-right-radius: 22px;
    border-top-right-radius: 22px;
    padding-left: 6px;
    padding-right: 12px;
}

.my-textview {
    border: 1px solid @borders;
    border-radius: 5px;
    background-color: #00000000;
}

.term-card {
    border-radius: 10px;
    background-color: #000;
}

.term-head {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: @headerbar_bg_color;
}